@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');

body {
    background-color: var(--main-bg-color);
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

a {
    font-weight: 300;
    color: var(--link-color, #ffffff);
}

a:visited {
    color: var(--link-visited, #7cc7fb);
}

h2, h3 {
    margin-top: 0;
}

h4 {
    color: var(--h4-color, #252525);
    font-weight: 500;
}

h3, h2 {
    line-height: 30px;
}

p {
    line-height: var(--p-line-height, 26px);
}
span {
    line-height: var(--span-line-height, 20px);
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color, grey);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color, #bf4a4a);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color, #656565);
}

@media all and (max-width: 760px) {
    p, span {
        font-size: 12px;
    }
}
