:root {
    /* main */
    --main-bg-color: #252525;
    --main-content-gap: 20px;
    --main-content-bg: transparent;
    --main-content-color: white;

    /* header */
    --header-height: 50px;
    --header-bg-color: white;

    /* footer */
    --footer-height: 50px;
    --footer-bg-color: white;

    /* photo */
    --photo-width: 200px;
    --photo-height: 200px;

    /* common */
    --border-default: 2px solid black;
    --p-line-hiight: 26px;
    --h4-color: #252525;
    --link-color: #fff;
    --link-visited: #7cc7fb;
    --scrollbar-track-color: grey;
    --scrollbar-thumb-color: #888888;
    --scrollbar-thumb-hover-color: #656565;

    /* tabs */
    --tabs-bg: grey;
    --tab-active-color: #7cc7fb;
    --tab-hover-color: #81b3d0;
    --tab-item-bg-color: #252525;
}

