:root {
    /* main */
    --main-bg-color: #252525;
    --main-content-gap: 20px;
    --main-content-bg: transparent;
    --main-content-color: white;

    /* header */
    --header-height: 50px;
    --header-bg-color: white;

    /* footer */
    --footer-height: 50px;
    --footer-bg-color: white;

    /* photo */
    --photo-width: 200px;
    --photo-height: 200px;

    /* common */
    --border-default: 2px solid black;
}

